@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    box-sizing: border-box;
}
.ng-binding, .app-name {
    font-family: "Lato", "Times New Roman", sans-serif;
}
/*#6a87b5 #fff*/
.ng-scope {
background-color: #14171c;
    color: #fff;
}
.app-name {
    color: #0965f9;
    display: inline-block;
    float: left;
}
.header {
    margin: 30px 0 30px 0;
}
.header img {
    height: 70px;
    width: 80px;
    display: inline-block;
    float: left;
}
.posts h2, .comments h2 {
    font-size: 22px;
}
.userPost:hover {
    text-decoration: none;
    background-color: #0965f9;
    border: 1px solid #000;
    border-radius: 5px;
}
.userPost a, .userPost a:hover {
    text-decoration: none;
    color: #fff;
}
.userPostTitle {
    border-bottom: 1px solid #fff;
    word-wrap: break-word;
}
.upVote, .commentsLink {
    display: inline-block;
}
span {
    cursor: pointer;
}
.glyphicon-arrow-left {
    margin-right: 10px;
}
.backButton a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
   
}
.backButton a:hover {
    cursor: pointer; 
    text-decoration: none;
    color: #0965f9;
}

@media (max-width: 360px){
    .header img {
        display: none;
    }
}