<div class="comments">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p class="backButton"><a href="#/home"><span class="glyphicon glyphicon-arrow-left"></span>Back to Suggestion Box</a></p>           
<h2 class="userPostTitle">{{ post.title }}</h2>
<div ng-repeat="comment in comments | orderBy:'-upvotes'">
    <p> {{ comment.content }}</p>
    <p> {{ comment.upvotes }} <span class="glyphicon glyphicon-plus-sign" ng-click="upVoteComment(comment)"></span> </p>
</div>
                <form ng-submit="addComment()" style="margin-top: 50px">
          <h3> Submit Your Comment </h3>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Comment..." ng-model="userComment"></input>
          </div>
          <button type="submit" class="btn btn-primary">Comment</button>
</form>

        </div>
        </div>
    </div>
</div>
